html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end of reset.css */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #f1f1f1;
}

.container {
  min-width: 90%;
  margin: auto;
}
.navbar {
  font-size: 18px;
  background: #00b09b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #96c93d,
    #00b09b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #96c93d,
    #00b09b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin-bottom: 10px;
  padding: 10px;
}
.wrapper{
  padding: 10px;
  background-color: #fff;
}
.main-nav {
  list-style-type: none;
}
.nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}
.main-nav li {
  text-align: center;
  margin: 15px auto;
}
.logo {
  display: inline-block;
  font-size: 20px;
  margin-left: 10px;
  font-weight: bolder;
  color: #fff;
}
.navbar-toggle {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  vertical-align: baseline;
}
.main-nav {
  list-style-type: none;
  display: none;
}
.active {
  display: block;
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* Tablets */
  .wrapper {
    max-width: 98%;
    margin: auto;
  }
}

@media (min-width: 1024px) {
  /* Desktop */
  .wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 95%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    height: 4vh;
    align-items: center;
  }
  .menu-container {
    display: flex;
  }
  .menu-container .nav-links {
    align-items: flex-end;
    justify-content: flex-end;
    flex: 1;
  }
  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .main-nav li {
    margin: 0;
  }
  .nav-links {
    margin-left: 40px;
  }
  .logo {
    margin-top: 0;
  }
  .navbar-toggle {
    display: none;
  }
  .logo:hover,
  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
  }
}
